<aside style="display:block;">
<div class="aux-title"><h3>Explore Our Networks<h3></div>
<hr>
<div class="aux-listing">
  <ul>
    <li>Accounting
    </li>
    <li>Administration
    </li>
    <li>Advertising
    </li>
    <li>Agriculture
    </li>
    <li>Art
    </li>
    <li>Automotive
    </li>
    <li>Banking
    </li>
    <li>Business
    </li>
    <li>Communications
    </li>
    <li>Construction
    </li>
    <li>Customer Service
    </li>
    <li>Design
    </li>
    <li>Engineering
    </li>
    <li>...
    </li>
  </ul>
</div>
</aside>
